.venv/
Corpus_completo/
__pycache__/
.env
0.26.0
0.26.0'
features_train.ipynb
implementation_model.ipynb
index.html
pruebas_LLM.ipynb
bert_argument_model/
bert_argument_model_fold_7/
results/
crf_model.pkl
main.py
stadistics_corpus.ipynb
train_with_bert.ipynb

crf_model_fold_1_0.pkl
crf_model_fold_1_1.pkl
crf_model_fold_1_2.pkl
crf_model_fold_1_3.pkl
crf_model_fold_1_4.pkl
crf_model_fold_1_5.pkl
crf_model_fold_1_6.pkl
crf_model_fold_1_7.pkl
crf_model_fold_1_8.pkl
crf_model_fold_1_9.pkl

crf_model_fold_2_0.pkl
crf_model_fold_2_1.pkl
crf_model_fold_2_2.pkl
crf_model_fold_2_3.pkl
crf_model_fold_2_4.pkl
crf_model_fold_2_5.pkl
crf_model_fold_2_6.pkl
crf_model_fold_2_7.pkl
crf_model_fold_2_8.pkl
crf_model_fold_2_9.pkl

crf_model_fold_3_0.pkl
crf_model_fold_3_1.pkl
crf_model_fold_3_2.pkl
crf_model_fold_3_3.pkl
crf_model_fold_3_4.pkl
crf_model_fold_3_5.pkl
crf_model_fold_3_6.pkl
crf_model_fold_3_8.pkl
crf_model_fold_3_9.pkl

crf_model_fold_4_0.pkl
crf_model_fold_4_1.pkl
crf_model_fold_4_2.pkl
crf_model_fold_4_3.pkl
crf_model_fold_4_4.pkl
crf_model_fold_4_5.pkl
crf_model_fold_4_6.pkl
crf_model_fold_4_7.pkl
crf_model_fold_4_8.pkl
crf_model_fold_4_9.pkl